<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/base.css" rel="stylesheet">
   <link href="./css/main.css" rel="stylesheet">
   

</head>
<body>
    <div class="y-sticky y-wrap">
${header}
<main>
    <h1>Something Awesome</h1>
    <br>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <div class="gallery">
        <div class="gallery">
            <div class="gallery__image gallery__image--primary">
            <div class="gallery__set-container">
                <img class="img" src="./images/mal1.jpeg">
                </div>
              <div class="gallery__set">
                <div class="gallery__image gallery__image--secondary">
                  <img class="img2" src="./images/mal2.jpeg">
                </div>
                <div class="gallery__image gallery__image--secondary">
                  <img class="img2" src="./images/mal3.jpeg">
                </div>
              </div>
              <div class="gallery__set">
                <div class="gallery__image gallery__image--secondary">
                  <img class="img2" src="./images/mal4.jpeg">
                </div>
                <div class="gallery__image gallery__image--secondary">
                  <img class="img2" src="./images/mal5.jpeg">
                </div>
              </div>
            </div>
          </div>
</main>
${footer}
    </div>


</html>